.wrapper {
  display: flex;
}

.map {
  width: 50%;
  position: fixed;
}

.map svg {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.map-image {
  width: 100%;
}

.blocks {
  margin-left: auto;
  width: 50%;
}

.block1 {
  height: 1100px;
  width: 100%;
  background-color: red;
}

.block2 {
  height: 1100px;
  width: 100%;
  background-color: blue;
}

.block3 {
  height: 1100px;
  width: 100%;
  background-color: green;
}

.block4 {
  height: 1100px;
  width: 100%;
  background-color: orange;
}

.block5 {
  height: 1100px;
  width: 100%;
  background-color: black;
}


